@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@font-face {
	font-family: AppleTree;
	src: url(/fonts/AppleTree.ttf);
}
* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input[type='range'] {
	-webkit-appearance: none;
	height: 4px;
	width: 24rem;
	margin-left: 1rem;
	background-color: black;
	border-radius: 2px;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background: white;
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background: white;
	cursor: pointer;
}
